@media (max-width: 768px) {
    .Globe-image {
        flex-direction: column;
        align-items: center;
    }

    .Context-text-image img {
        width: 100%;
        height: auto;
    }

    .Content-text {
        text-align: center;
        padding: 10px;
    }

    .Carbon-explanation {
        margin-left: 0;
        padding: 20px;
    }

    .Start-questionary-button button {
        width: 90%;
    }
}
